.headr {
    height: 900px;
    background-image: url("../img/karkas.svg");
}

.headr-menu {
    display: flex;
}


.logo1 {
    margin-top: 105px;
    margin-left: 130px;
}

.buy1 {
    margin-left: 1232px;
    margin-top: 10px;
    
}
.ogo {
    margin-left: 850px;
    margin-top: 0%;
}


.glav1 {
    margin-top: 0%;
    margin-left: 632px;
}



