.headr {
    height: 900px;
    background-image: url("../img/karkas.svg");
}

.headr-menu {
    display: flex;
    align-items: end;
    justify-content: left;
    


}


.logo1 {
    margin-top: 105px;
    margin-left: 130px;
}

.buy1 {
    margin-left: 48.5px;
    margin-top: 16.5px;

}

.odp {
    margin-top: 117px;

}


.odp li {
    display: inline;


}

.glav {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.48px;
    text-align: left;
    margin-left: 147.58px;

}

.akchii {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.48px;
    text-align: left;
    margin-left: 66.5px;

}

.ohac {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.48px;
    text-align: left;
    margin-left: 30.5px;

}

.fasty {
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 500;
        line-height: 30.48px;
        text-align: left;
        margin-left: 130px;
        margin-top: 189.49;

    
}